numpy
pandas
opencv-python
matplotlib
scikit-learn
torch
torchvision
mlflow
fastapi
uvicorn
streamlit
chromadb
langchain
langchain-community
langchain-chroma
langchain-text-splitters
langchain-google-genai
python-dotenv
